body {
  margin: 0;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  line-height: 1.4;
}

.banner {
  background: linear-gradient(180deg, rgba(0,125,221,1) 0%, rgba(26,156,255,1) 50%, rgba(26,156,255,1) 100%);
  overflow: hidden;
  height: 5px;
}

.content {
  overflow: auto;
  max-width: 800px;
}

.content img {
  max-width: 100%;
}

.wrapper {
  background-color: #fff;
  color: #000;
}

header {
  margin-left: 8px;
}

main {
  padding-left: 20px;
}

main h1 {
  margin-top: 0;
}

.header a {
  display: inline-block;
  text-decoration: none;
  font-size: 2em;
  color: black;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.header .actions {
  float: right;
  margin-right: 20px;
}

.header .actions a {
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .header a {
    font-size: 1.4em;
  }

  .header .actions a {
    margin-right: 0;
    margin-top: 15px;
    font-size: 1em;
  }
}

input[type=search] {
  padding: .25em;
  font-size: 16px;
  width: 60%;
}

input[type="submit"] {
  box-sizing: border-box;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  padding: .5em 0.8em;
  font-size: 16px;
  line-height: 1;
  border-radius: .25rem;
  margin-left: 0.3em;
}

.note-content {
  height: 100%
}

.note-content textarea {
  width: 100%;
}

.CodeRay {
  overflow: auto;
}

ul.note-actions, ul#notes {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.note-actions {
  margin-bottom: 20px;
  border: 1px solid #777;
  padding: 20px;
  background-color: #ccc;
}

ul.note-actions a {
  color: #000;
}

ul#notes li {
  border-bottom: 1px dotted #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

ul#notes li h3 {
  display: inline-block;
  margin: 0;
}
